
TamrielTradeCentre/ItemLookUpTable_DE.lua
TamrielTradeCentre/ItemLookUpTable_EN.lua
TamrielTradeCentre/ItemLookUpTable_FR.lua
TamrielTradeCentre/ItemLookUpTable_RU.lua
TamrielTradeCentre/ItemLookUpTable_ZH.lua
TamrielTradeCentre/PriceTable.lua
